@font-face {
    src: url(fonts/BebasKai.ttf);
    font-family: BebasKai; 
}

body {
    margin: 0;
    padding: 0;
    font-family: BebasKai;
    background-color: #21a0a0;
    min-height: 100%;
    border: solid;
    border-top: none;
    border-left: none;
    position:relative;

    
}

html {
    height: 100%;
}

#flex {
    display: flex;
    height: 52rem;
    
 }

#rightContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 20rem;
    margin-bottom: 35rem;

    
}

#targetta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 20rem;
    height: 8rem;
    font-size: 3.5rem;
    margin-bottom: 60rem;
    margin-left: 50rem;
    position: relative;

}

#arrow{
    height: 10rem;
    width: 10rem;
    margin-top: -55rem;
    margin-left: 50rem;
    transform: rotate(68deg);
}

.orrow {
    width: 100%;
    height: 230%;
}

#text {
    margin-top: 8rem;
    margin-left: 29rem;
}

.definition {
    font-style:italic;
}

#calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 50rem;
    position: absolute;  /* remove*/
    margin-left: 0rem;  /* remove*/
}

#calculatorBackground {
    border: solid;
    box-shadow: 0.5rem 0.5rem;
    background-color: #e2c048 ;
    border-radius: 5%;
    padding: 1rem;
}

#previousOperations {
    background-color: #a9d2d5;
    width: 30rem;
    height: 3.5rem;
    border-radius: 5%;
    margin-bottom: -1rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;  
    font-size: 1.5rem; 

}

#displayCalculator {
    background-color: #a9d2d5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30rem;
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 5%;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 3rem;

   

}

#calculatorGrid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    width: 30rem;
    height: 30rem;

}

#btn {
    border-radius: 30%;
    font-size: 2rem;
    background-color: #e28748;
    border: solid;
    box-shadow: 0.2rem 0.2rem;
    transform: rotate(3deg);
    font-family: BebasKai;
    font-size: 3rem;
    cursor: pointer;
}

#btn:hover {
    background-color: #3e8e41
}

#btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.AC, .cancel {
    grid-column: span 2;
    font-size: 2rem;
    border-radius: 15%;
    background-color: #e249c0;
    border: solid;
    box-shadow: 0.1rem 0.1rem;
    transform: rotate(2deg);
    font-family: BebasKai;
    font-size: 3rem;
    cursor: pointer;
}

#btnSpan:hover {
    background-color: #3e8e41
}

#btnSpan:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.multiplication, .addiction, .subtraction, .division {
    border-radius: 30%;
    font-size: 2rem;
    background-color:#70e248;
    border: solid;
    box-shadow: 0.2rem 0.2rem;
    transform: rotate(3deg);
    font-family: BebasKai;
    font-size: 3rem;
    cursor: pointer;
}

#btnOp:hover {
    background-color: #3e8e41
}

#btnOp:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.result {
    background-color: #25ced1;
    border-radius: 30%;
    font-size: 2rem;
    border: solid;
    box-shadow: 0.2rem 0.2rem;
    transform: rotate(3deg);
    font-family: BebasKai;
    cursor: pointer;
}

.result:hover {
    background-color: #3e8e41;
}

.result:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 0rem;
    position: relative;
   
}

#link {
    color: black;
    text-decoration: none;
  }

#titleLink {
    text-decoration: underline;
    color: white;
}

.rotate {
    color: var(--font);
    transition: transform 0.3s ease-in-out;
  }
  
.rotate:hover {
    transform: rotate(360deg) scale(1.2);
  }

.gitSimb {
    margin-left: 0.5rem;
    height: 1.2rem;
    width: 1.2rem;
}

/**/
  
.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#a9d2d5;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }